<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/8ad63d37f2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>

<body id='bodycontent' onload='copyWrite();'>
  <nav id='navbar-location'>
  </nav>
  {{{body}}}
  <script src="/dist/main.js"></script>

  <footer class="footer" >
    <div class="container-fluid">
      <div class="row justify-content-center">
        <h5 class="text-uppercase">Sitemap</h5>
      </div>
      <div class="text-center">
        <ul class="list-unstyled">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/experience">Experience</a></li>
        </ul>
      </div>
      <div class="row justify-content-center">
        <div class="footer-copyright text-center py-3" id='footer_c'>:
        </div>
      </div>
      <div class="row justify-content-center">
        <ul id="footersocialmedia">

        </ul>
      </div>
    </div> <!-- Footer div -->

    <script>
      function getYear() {
        return new Date().getFullYear();
      }

      function copyWrite() {
        var year = getYear()
        var copyWrite = document.getElementById('footer_c');
        copyWrite.innerHTML = '© Copyright - ' + year + ' by Prabuddha Malith.';
      }

    </script>

  </footer>
</body>

</html>