body {
    padding: 50px;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    color: #000!important;
    background-color: #ebe7e7!important
}

a {
    color: #474747;
}

a:hover {
    color: #151c22;
    text-decoration: none;
}

.main-div {
    margin-top: 2%;
}

.first-column {
    padding-top: 15px;
}

.Second-column {
    padding-top: 15px;
}

#exp-div {
    padding-top: 15px;
}

#about-div {
    padding-top: 30px;
}

ul {
    list-style: none;
}

.about-me {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.work-experience {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.education {
    margin-top: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.name {
    position: absolute;
    /* left:0; */
    /* bottom:0; */
}

.name h3 {
    color: #00B7FF;
}

.container_1 {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.info {
    padding-top: 20px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 260px;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    background-color: #414042;
    position: relative;
}

footer h5 {
    letter-spacing: 2px;
    color: #7f7e80;
}

footer #footer_c {
    color: white;
}

footer #footersocialmedia {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer #footersocialmedia li {
    display: inline;
}

footer a {
    color: #7f7e80;
}

footer a:hover {
    color: #151c22;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}